#sidebar{
    /* background:#8d4de0; */
    background: #fff;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  
    
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #265acc;
    margin-bottom: 30px;

} 
.sidebar-img{
    display: flex;
    align-items: center;
}
.sidebar-img > img{
    border-radius: 50%;
} 
.sidebar-title > div > h1{
    font-size:18px ;
    display: inline;
    margin-left: 20px;
}
.sidebar-imge > div > img{
    width: 75px;
    object-fit: contain;
}
.sidebar-title > i{
    font-size: 32px;
    display: none;
}
.sidebar-menu > h2{
    color: #265acc;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}
.sidebar-link{
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.active-menu-link{
    background: #265acc;
    color: #265acc im !important;
}
.active-menu-link a{
    
    color: #265acc im !important;
}
.sidebar-link > a{
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}
.sidebar-link > i{
    margin-right: 10px;
    font-size: 18px;

}
.sidebar-logout{
    margin-top: 20px;
}
.sidebar-logout > a{
    text-decoration: none;
    color: #e55061;
    font-weight: 700;
    text-transform: uppercse;
}
.sidebar-logout > i{
    margin-right: 10px;
    font-size: 18px;

}
.sidebar-responsive{
    display: inline !important;
    z-index: 9999  !important;
    left:0 !important;
    position: absolute;

}

@media (max-width: 978px) {
    #sidebar {
        display: none;
    }
    .sidebar-title > i {
        display: inline;
    }
}