main{
    /* background: #FAFAFA; */
    grid-area: main;
    overflow-y: auto;
}
.main-p-c{
    padding:10px 35px;
    margin-left: 330px;
    margin-top: 50px;
}
.main-h-title{
    display: flex;
    align-items: center;
}
.main-h-container > img{
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}
.main-h-greeting > h1{
    font-size: 24px;
    color: #24e466;
    /* margin-bottom: 5px; */

}
.main-h-greeting > p{
    font-size: 24px;
    font-weight: 700;
    color: #a5aaad;
}
.house-cont{
    margin-left: 15px;
    margin-top: 7px;
    color: #000000;
}
#list{
    margin-left: 15px;
    margin-top: 7px;
  
}
.listing{
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;

}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}
.card{
    align-items: center;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}


.card-inner{
    
    
    justify-content: space-between;
}
.card-inner > span{
    font-size: 25px;
    margin-left: 7px;
}

/* .main-listing{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-top: 50px;
    
} */
.list-left{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  
}

.ac-oh{
    display: inline-block;
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.ac-oh > img{
    
    margin-top: 10px;
    margin-left: 7px;
  
    
}
.ac-oh > p{
    margin-top: 35px;
    
}
.ac-h-d > h2{
  
    margin-top: 25px;
    font-size: 15px;

}
hr{
    /* border: 1px solid#a5aaad; */
    background: #D9D9D9;
    height: 1px;
    border: 0px;
}
.ac-h-d{
    margin-top: 0px;
}
.house{
    
    width: 600px;
    gap: 30px;
     margin-top: 70px;
    border-radius: 5px;
    background-color:#fff;
    /* box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff; */
    border: 1px solid #e8eff6;
    
   
    
    
}
 
.box{
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    height: 700px;
   
    
   
  }

.house-img{
    
    margin-left: 15px;
    margin-top: 7px;
    
    
}
.h-img{
    width: 500px;
    border-radius: 3px;
}

.house-left{
    padding: 25px;
    background: #ffffff;
    

}
.house-left-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#list  > h1{
    font-size: 24px;
    color: #18C4F2 ; 
    margin-bottom: 5px;

}
#list> h4{
    font-size: 17px;
   color: #18E4F2; 
    margin-bottom: 5px;

}
#list> h5{
    font-size: 14px;
    font-weight: 700;
    color: #717e8b; 
    /* color: #2691ED  */
    ;

}
#list > p{
    font-size: 14px;
     font-weight: 200;
    color: #717e8b; 
    margin-left: 00px;
    margin-bottom: 30px;
}
.wrapper > i{
    color: #ffffff;
    font-size: 20px;
    background: #9FE2BF;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius:200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
    margin-left: 550px;
    
}
.wrapper{
    margin-bottom: 0px;
   
}
.btn-op > button{
     width: 200px;
     /* color:#8d4de0; */
     background-color:#EAF8F3 ;
     border: none;
     height: 45px;
     margin-bottom: 10px;
     margin-top: 65px;
     border-radius: 5px;
     margin-left: 65px;
}
.btn-op > button:focus{
    outline: none !important;
    border:none;
  }
.btn-op > button > i{
    margin-right: 13px;
}
.btn-rd > button{
    width: 100px;
    color:#fff;
    background-color: #8d4de0;
    border: none;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 55px;
}

.list-right{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

}

.list-main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-top: 50px;
}
.list-left{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

}
.input-icon{
    position: absolute;
    right: 3px;
    margin-right: 8px;
    font-size: 20px;
    color: #7EEFF5;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  .listing{
      border: none;
      margin-top: 70px;

  }
  .loading{
      margin-top: 200px;
      margin-left: 200px;
      /* color: #00E676; 
              height:65%; 
              width:65%; */
              
              

  }
  #stuff{
    padding-left: 10px;
    width: 560px;
    height: 34px;
    border-radius: 5px;
    background: #F4F6F5 ;
    border:none;
    margin-left: 10px;
    
  }
  #stuff:focus{
    outline: none !important;
    border:1px solid #c7c7c7;
  }
  .input-wrapper{
    position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* height: 50px; */
  
    
  }
  
    .op-wrapper{
        position: fixed;
        margin-top: 100px;
        width: 600px;
        gap: 30px;
         margin-top: 10px;
        border-radius: 5px;
        background-color:#fff;
        box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
        border: 1px solid #e8eff6;
        height: 120px;
  }
.chart-right-title{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.list-right-title > div > h1{
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;

}
.list-right-title > div > p{
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}
.list-right-title > i{
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    border-radius: 0px solid #000000;
    padding: 15px;

}
.charts-right-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.card1{
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card2{
    background: #d2f9ee;
    color: #38e1b0; 
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card3{
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card4{
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}


@media screen and  (max-width: 400px){
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .house{
        width:49%;
    }
    .house-img{
        width: 90%;
        }
      
}


 
  
  @media screen and (max-width: 768px) {
   
   #stuff{
      width: 340px;
     
   }
  
   
     .main-p-c{
         
        /* width: 33%; */
        margin-left: 0px;
    } 
    
    .house-left{
        margin-left: 15px;
        
    }
    .house{
        width:99%;
    }
    .input-wrapper{
        width: 102%;
    }
    .wrapper > i{
        margin-left: 92%;
    }
    .house-img{
    width: 90%;
    }
    .h-img{
        width: 92%;
    }
    .loading{
        height: 30%;
        width: 30%;
        margin-left: 80px;

    }
    .op-wrapper{
        width: 85%;
    }

    .btn-op > button{
        width: 120px;
        margin-left: 45px;
    }
   
  }
