main{
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}
.main-p-c{
    padding:10px 35px;
    margin-left: 330px;
    margin-top: 50px;
}
.main-h-title{
    display: flex;
    align-items: center;
}
.main-h-container > img{
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}
.main-h-greeting > h1{
    font-size: 24px;
    color: #24e466;
    /* margin-bottom: 5px; */

}
.main-h-greeting > p{
    font-size: 24px;
    font-weight: 700;
    color: #a5aaad;
}
.house-cont{
    margin-left: 15px;
    margin-top: 7px;
    color: #000000;
}
#list{
    margin-left: 15px;
    margin-top: 7px;
  
}
.listing{
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;

}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}
.card{
    align-items: center;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}


.card-inner{
    
    
    justify-content: space-between;
}
.card-inner > span{
    font-size: 25px;
    margin-left: 7px;
}

.main-listing{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-top: 50px;
    
}
.list-left{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  
}

.ac-oh{
    display: inline-block;
    display: flex;
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.ac-oh > img{
    
    margin-top: 10px;
    margin-left: 7px;
  
    
}
.ac-oh > p{
    margin-top: 35px;
    
}
.ac-h-d > h2{
  
    margin-top: 25px;
    font-size: 15px;

}
hr{
    /* border: 1px solid#a5aaad; */
    background: #D9D9D9;
    height: 1px;
    border: 0px;
}
.ac-h-d{
    margin-top: 0px;
}
.house{
    
    width: 600px;
    /* gap: 30px; */
    /* margin-top: 10px; */
    border-radius: 5px;
    background-color:#fff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
   
    
    
}
 
.box{
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    height: 700px;
   
    
   
  }

.house-img{
    
    margin-left: 15px;
    margin-top: 7px;
    
    
}
.h-img{
    width: 500px;
    border-radius: 3px;
}

.house-left{
    padding: 25px;
    background: #ffffff;
    

}
.house-left-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#list  > h1{
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;

}
#list> h4{
    font-size: 17px;
    color: #2e4a66;
    margin-bottom: 5px;

}
#list> h5{
    font-size: 14px;
    font-weight: 700;
   
    color: #2691ED 
    ;

}
#list > p{
    font-size: 14px;
    font-weight: 700;
    color: #717e8b;
    margin-left: 00px;
    margin-bottom: 30px;
}
.wrapper > i{
    color: #ffffff;
    font-size: 20px;
    background: #9FE2BF;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius:200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
    margin-left: 550px;
}
.wrapper{
    margin-bottom: 0px;
}
.btn-op > button{
     width: 100px;
     color:#fff;
     background-color: #2691ED;
     border: none;
     height: 25px;
     margin-bottom: 10px;
     margin-top: 10px;
     border-radius: 5px;
     margin-left: 5px;
}
.btn-rd > button{
    width: 100px;
    color:#fff;
    background-color: #2691ED;
    border: none;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 55px;
}

.list-right{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

}

.list-main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin-top: 50px;
}
.list-left{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

}
.input-icon{
    position: absolute;
    right: 3px;
    margin-right: 8px;
    font-size: 30px;
    color: #7EEFF5;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  .listing{
      border: none;

  }
  #stuff{
    padding-left: 10px;
    width: 600px;
    height: 44px;
    border-radius: 15px;
    border: none;
    /* background: #E6F7F8 ;
    border: 1px solid lightgray; */
  }
  .input-wrapper{
    position: relative;
    margin-top: 10px;
  }
.chart-right-title{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.list-right-title > div > h1{
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;

}
.list-right-title > div > p{
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}
.list-right-title > i{
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    border-radius: 0px solid #000000;
    padding: 15px;

}
.charts-right-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.card1{
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card2{
    background: #d2f9ee;
    color: #38e1b0; 
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card3{
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card4{
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}


@media screen and  (max-width: 400px){
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .house{
        width:49%;
    }
    .house-img{
        width: 90%;
        }
        #stuff{
            width: 360px;
         }
    
}


 
  
  @media screen and (max-width: 768px) {
   
   #stuff{
      width: 360px;
   }
  
   
     .main-p-c{
         
        /* width: 33%; */
        margin-left: 0px;
    } 
    
    .house-left{
        margin-left: 15px;
        
    }
    .house{
        width:99%;
    }
    .wrapper > i{
        margin-left: 92%;
    }
    .house-img{
    width: 90%;
    }
    .h-img{
        width: 92%;
    }
   
  }
