main{
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}
.main-container{
    padding:20px 35px;
}
.main-title{
    display: flex;
    align-items: center;
}
.main-container > img{
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}
.main-greeting > h1{
    font-size: 24px;
    color: #24e466;
    margin-bottom: 5px;

}
.main-greeting > p{
    font-size: 24px;
    font-weight: 700;
    color: #a5aaad;
}
.listing{
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}
.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}
.card{
    align-items: center;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}


.card-inner{
    
    
    justify-content: space-between;
}
.card-inner > span{
    font-size: 25px;
    margin-left: 7px;
}

.house{
    
    width: 900px;
    gap: 30px;
    margin-top: 30px;
}
.house-img{
    width: 100px;
    
}
.house-left{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

}
.house-left-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.house-left-title > div > h1{
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;

}
.house-left-title > div > h4{
    font-size: 17px;
    color: #2e4a66;
    margin-bottom: 5px;

}
.house-left-title > div > h5{
    font-size: 14px;
    font-weight: 700;
    margin-top: 60px;
    color: #2691ED 
    ;

}
.house-left-title > div > p{
    font-size: 14px;
    font-weight: 700;
    color: #717e8b;
    margin-left: 00px;
}
.house-left-title > i{
    color: #ffffff;
    font-size: 20px;
    background: #ffc100;
    border-radius: 200px 0px 200px 200px;
    -moz-border-radius:200px 0px 200px 200px;
    -webkit-border-radius: 200px 0px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
}
.chart-right{
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

}
.input-icon{
    position: absolute;
    left: 3px;
    margin-left: 8px;
    font-size: 30px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  #stuff{
    padding-left: 10px;
    width: 800px;
    height: 54px;
    border-radius: 25px;
    border: none;
  }
  .input-wrapper{
    position: relative;
    margin-top: 10px;
  }
.chart-right-title{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.chart-right-title > div > h1{
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;

}
.chart-right-title > div > p{
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}
.chart-right-title > i{
    color: #ffffff;
    font-size: 20px;
    background: #39447a;
    border-radius: 200px 0px 200px 200px;
    border-radius: 0px solid #000000;
    padding: 15px;

}
.charts-right-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.card1{
    background: #d1ecf1;
    color: #35a4ba;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card2{
    background: #d2f9ee;
    color: #38e1b0; 
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card3{
    background: #d6d8d9;
    color: #3a3e41;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.card4{
    background: #fddcdf;
    color: #f65a6f;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 855px){
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .house{
        width:99%;
    }
    #stuff{
        width: 400px;
    }
    .house-img{
        width: 30%;
    }
}