.navbar{
    background:#ffffff ;
   width: 84%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    margin-left: 220px;
    position: fixed;
    /* border-bottom: 1px solid lightgray; */
   
}
.nav-icon{
    display: none;
    
}
.nav-icon > i{
    font-size: 26px;
    color: #a5aaad;
}
.navbar-left > a{
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}
.navbar-left .active-link{
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}
.navbar-right{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.navbar-right > a{
    margin-left: 20px;
    text-decoration: none;
}
.navbar-right > a >img{
    border-radius: 50%;
}
.navbar-right > a > i{
    color:#a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
    padding: 7px;
    width: 150px;
}
@media (max-width: 978px) {
    .nav-icon{
        display: inline;
        
    }
}

@media (max-width: 978px){
    .navbar-left{
        display: none;
    }
}