.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height:600px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  /* .display-block {
    display: block;
  }
   */
  .display-none {
    display: none;
  }


.input{
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

  /* Full-width input fields */
/* input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
  } */
  
.input{
  width: 100%;
}
.input:focus{
  outline: none !important;
  border:1px solid #B9F6CA;
}
.modal-btn {
  width: 400px;
  /* background-color: #5995fd; */
  background-color:#2abe8a ;
  border: none;
  outline: none;
  height: 39px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}

  

  
  
  