table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  .users-tbl{
      background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 50px;
    border-radius: 15px;
}
.btn-info{
    width: 73px;
    color:#fff;
    background-color:#2abe8a ;
    border: none;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn-danger{
    width: 73px;
    color:#fff;
    background-color:#be2a3e ;
    border: none;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}