.header-nav{
    background:#ffffff ;
    /* grid-area: nav; */
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    /* border-bottom: 1px solid lightgray; */
    position: fixed;
    width: 100%;
    box-shadow: 4px 4px 10px #ededed, -5px -5px 13px #ffffff;
   
}
.how-p{
    display: inline-block;
    display: flex;
}
.header-logo-img{
    display: flex;
    align-items: center;
}
.header-logo-img > img{
    border-radius: 50%;
} 
.nav-icon{
    display: none;
    
}
.nav-icon > i{
    font-size: 26px;
    color: #a5aaad;
}
.navbar-left > a{
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}
.navbar-left .active-link{
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}
.header-right{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 100px;
}
.header-right > a{
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}
.header-right > a >img{
    border-radius: 50%;
}
.header-right > a > i{
    color:#a5aaad;
    font-size: 16px;
    text-decoration: none;
    padding: 7px;
    
}
@media (max-width: 978px) {
    .nav-icon{
        display: inline;
        
    }
}

@media (max-width: 978px){
    .header-right{
        display: none;
    }
    .header-logo-img{
        margin-right: 50px;
    }
}