.right-panel{
  
    border-radius: 7px;
    position: fixed;
    width: 3px;
    margin-top: 80px;
    height: 400px;
    margin-right: 95px;
    background:white ;
   
}

@media (max-width: 978px) {
    .right-panel {
        display: none;
    }
    
}