.sideview{
  
    /* background:#ffffff ; */
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    /* height: 600px; */
    margin-top: 50px;
    border-radius: 25px;
    margin-left: 25px;
}
.bottomview{
    background:#ffffff ;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 400px;
    margin-top: 900px;
    border-radius: 25px;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #265acc;
    margin-bottom: 30px;

} 
.sidebar-img{
    display: flex;
    align-items: center;
}
.sidebar-img > img{
    border-radius: 50%;
} 
.sidebar-title > div > h1{
    font-size:18px ;
    display: inline;
    margin-left: 20px;
}
.sidebar-imge > div > img{
    width: 75px;
    object-fit: contain;
}
.sidebar-title > i{
    font-size: 32px;
    display: none;
}
.sidebar-menu > h2{
    color: #265acc;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}
.input-price-min-icon{
    position: absolute;
    right: 3px;
    margin-right: 8px;
    font-size: 20px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  #min{
    padding-left: 17px;
    width: 220px;
    height: 44px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
  }
  .input-min-price{
    position: relative;
  }
.input-sort-icon{
    position: absolute;
    right: 3px;
    margin-right: 8px;
    font-size: 20px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  #sort{
    padding-left: 17px;
    width: 220px;
    height: 44px;
    border-radius: 5px;
    border: none;
  }
  .input-sort{
    position: relative;
  }
.sideview-link{
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.side-active-link{
    background:#CDE0F1;
    color: #265acc im !important;
    height: 30px;
}
.active-menu-link a{
    
    color: #265acc im !important;
}
.sideview-link > a{
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}
.sideview-link > i{
    /* margin-right: 10px; */
    font-size: 18px;
    color: #265acc;

}
.sidebar-logout{
    margin-top: 20px;
}
.sidebar-logout > a{
    text-decoration: none;
    color: #e55061;
    font-weight: 700;
    text-transform: uppercse;
}
.sidebar-logout > i{
    margin-right: 10px;
    font-size: 18px;

}
.sidebar-responsive{
    display: inline !important;
    z-index: 9999  !important;
    left:0 !important;
    position: absolute;

}

@media (max-width: 978px) {
    .sideview {
        display: none;
    }
    .sidebar-title > i {
        display: inline;
    }
}